.contenedor {
    overflow: hidden;
}

.seccionBanderas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 100vh;
}

.seccionEnlace {
    text-decoration: none;
    padding: 1rem;
    position: absolute;
    top: 30%;
    right: 20%;
    left: 20%;
    background-color: #44344f;
    border-radius: 1.5rem;
    opacity: .9;
    color: #d3fcd5;
    border: .1em solid #d3fcd5;
    font-family: monospace;
    font-size: large;
}

.seccionEnlace:hover{
    color: #98a6d4;
}

.imgBandera {
    opacity: .2;
    margin: .5rem;
}

img {
    height: 3%;
    width: 3.75rem;
}