.seccionBanderasTop {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
.seccionEnlace {
    text-decoration: none;
    padding: .3em 1em;
    position: absolute;
    margin-top: 20% ;
    margin-left: -40%;
    margin-right: 10%;
    background-color: black;
    border-radius: .5em;
    opacity: .8;
    color: purple;
    border: .1em solid purple;
    font-family: monospace;
    font-size: large;
}
.seccionEnlace:hover{
    border-color: black;
    background-color: purple;
    color: black;
}
.seccionBanderasBottom {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 50%;
}
.imgBandera {
    opacity: .2;
}