.contenedor {
    overflow: hidden;
}
.seccionBanderas {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
}
.seccionEnlace {
    text-decoration: none;
    padding: .3em 1em;
    position: absolute;
    top: 30%;
    right: 20%;
    left: 20%;
    background-color: black;
    border-radius: .5em;
    opacity: .9;
    color: purple;
    border: .1em solid purple;
    font-family: monospace;
    font-size: large;
}
.seccionEnlace:hover{
    border-color: black;
    background-color: purple;
    color: black;
}
.imgBandera {
    opacity: .2;
    margin: .5em .6em;
}
img {
    height: 2.8em;
    width: 3.8em
}