.card {
    min-width: 15rem;
}

.bg-tertiary {
    background-color: rgb(200, 200, 200);
}

.card-footer {
    font-size: 80%;
    display: flex;
    justify-content: space-between;
    color: #44344f;
}