.card {
    min-width: 15rem;
}

.bg-secondary {
    background-color: #44344f !important;
    border: .1em solid #564d80;
    border-radius: 1rem;
}

.offcanvas {
    background-color: #44344f !important;
}

.nav-link {
    color: #d3fcd5 !important;
    &:hover {
        color: #c2f970 !important;
    }
}
