.seccionPais {
    border-radius: 15%;
    background-color: darkgrey;
    opacity: 0.8;
    margin: 10% 15%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.boton1 {
    background-color: #aaa;
    border: .2em solid black;
    color: purple;
    padding: .5em;
    border-radius: .5em;
    width: 8em;
    font-weight: 600;
    font-size: large;
    opacity: .9;
    position: fixed;
    left: 30px;
    top: 50%
}
.boton1:hover {
    border-color: purple;
    color: black;
}
.nombrePais {
    font-size: xx-large;
    color: purple;
}
h2 + h2 {
    border-top: .1px solid purple;
    padding-top: .5em;
}
.divActividad {
    margin: .1em;
    padding: .1em 1em;
    border: .1em solid purple;
    border-radius: 1em;
    background-color: rgb(184, 182, 182);
    opacity: .9;
    font-family: monospace;
    color: purple;
    font-size: large;
}